In [138]:
#BeautifulSoup, Pandas, and Requests/Splinter
from bs4 import BeautifulSoup as soup
from splinter import Browser
import pandas as pd
import requests

In [154]:
# Windows Users
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

### NASA Mars News

In [96]:
# URL to be scraped
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [97]:
# Convert the browser html to a soup object and then quit the browser
html = browser.html
news_soup = soup(html, 'html.parser')
#print(news_soup.prettify())

slide_elem = news_soup.select_one('ul.item_list li.slide')

In [98]:
# Use the parent element to find the first tag and save it as `news_title`
news_title = slide_elem.find("div", class_='content_title').get_text()
news_title

"NASA's Perseverance Rover Is Midway to Mars "

In [99]:
# Use the parent element to find the first tag and save it as `news_title`
news_p = slide_elem.find("div", class_='article_teaser_body').get_text()
news_p

"Sometimes half measures can be a good thing – especially on a journey this long. The agency's latest rover only has about 146 million miles left to reach its destination."

### JPL Mars Space Images - Featured Image

In [102]:
# define URL to scrape and inform browser to visit the page - do this for every url
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [103]:
#Click full image
browser.click_link_by_partial_text('FULL IMAGE')

In [104]:
#click more info
browser.click_link_by_partial_text('more info')

In [105]:
html= browser.html
soup = soup(html, 'html.parser')
#print(soup.prettify())

In [109]:
# pull images from site
image_url = soup.find('img', class_='main_image').get('src')

print(images)
#variable - must be full sized jpg = featured_image_url

/spaceimages/images/largesize/PIA19404_hires.jpg

In [111]:
# full image URL
featured_image_url = 'https://www.jpl.nasa.gov' + image_url
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19404_hires.jpg

### Mars Facts

In [155]:
# define URL to scrape and inform browser to visit the page - do this for every url
url = 'https://space-facts.com/mars/'
browser.visit(url)

In [158]:
#scrape the table containing facts about the planet including Diameter, Mass, etc.

#automatically scrape the tabular data from the page
tables = pd.read_html(url)

# select the Mars Planet Profile table
table_df = tables[0]
table_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [159]:
#Use Pandas to convert the data to a HTML table string
html_table = table_df.to_html()
print(html_table)

#if needed, can save the table directly to a file
#df.to_html('table.html')

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

### Mars Hemispheres

In [160]:
# define URL to scrape and inform browser to visit the page - do this for every url
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)